.relation-product-item{
    border-radius: 8px;
    // margin: 0.5%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .product-img{
        border-radius: 8px;
        width: 100%;
    }

    .product-infor{
        // padding: 2% 5%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .product-name{
            width: 100%;
            font-size: 1.2em;
            font-weight: 600;
            text-align: center;
        }
        .product-detail{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width:740px) {
                flex-direction: column;
            }    
            .unit-price{
                width: 100%;
                font-size: 1em;
                display: flex;
                justify-content: center;
                gap:5px;
                color: rgba(0, 0, 0, 0.5);
                font-style: italic;
            }

            .number-of-favorites-box{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap:5px;
                color: rgba(0, 0, 0, 0.5);
                font-style: italic;
                svg{
                    color:rgba(0, 0, 0, 0.5);
                }

            }

        }
        

    }

}