@import './config/variables.scss';
@import "~reactjs-popup/dist/index.css";

/* Popup */

.popup-content{
    height: 90%;
    width: 80%;
    border: solid 0.2em #9C77CB;
    border-radius: 1em;
    padding: 0.8%;

    .modal{
        display: flex;
        flex-direction: column;
        height: 100%;
        .upload-img-box{
            // position: relative;
            height: 90%;
            width: 100%;
            margin-top: 0.5%;
            align-self: stretch; 
            border-radius: 0.7em;
            border: solid;
            overflow-y: auto;
            .drag-and-drop-zone{
                height: 100%;
                .get-input{
    
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

       
                    .from-device-btn{
                        border-radius: 0.5em;
                        padding: 0.5%;
                    }
    
                    .from-device-btn:hover{
                        color: aliceblue;
                        background-color: #9C77CB;
                    }
    
                    .from-device-btn:active{
                        color: #9C77CB;
                        background-color: aliceblue;
                    }
        
                }
                .display-upload-imgs-box{

                    height: 100%;
                    display: flex;
                    // flex-direction: row;
                    align-content: flex-start;
                    // flex-wrap: wrap;
                    gap: 2%;
                    padding: 1%;
                    overflow-x: auto;

                    flex-flow: column wrap;
                    .uploaded-imgs{
                        width: 15%;
                        height: fit-content;
                        border-radius: 8px;
                        background-color: #9786ac;
                        display: flex;
                        flex-direction: column;
                        .uploaded-img-src{
                            width: 100%;
                            height: auto;
                            border-radius: 8px;
                        }
                        .uploaded-imgs-name{
                            width: 96%;
                            margin: 2% auto 2% 2%;
                            padding: 1% 2%;
                            border-radius: 8px;
                            background-color: lightgray;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: center;
                            font-size: 1svw;
                        }
                    }
                    .uploaded-imgs:nth-child(3n+3) { order: 4; }
                    .uploaded-imgs:nth-child(3n+1) { order: 1; }
                    .uploaded-imgs:nth-child(3n+2) { order: 2; }
                    .uploaded-imgs:nth-child(3n)   { order: 3; }
                }                
                
            }

            .display-upload-imgs-box::before,
            .display-upload-imgs-box::after {
                content: "";
                flex-basis: 100%;
                width: 0;
                order: 2;
            }

            .drag-them-here{
                position: absolute;
                top: 1.5%;
                left: 1%;
                font-size: 1.2em;
                font-weight: 600;
                @media (max-width:500px) {
                    font-size: 0.7em;
                }
            }
        }
        .modal-header{
            display: flex;
            justify-content: space-between;
            @media (max-width:500px) {
                padding: 0 0.2em;
            }
            .drag-them-here{
                font-size: 1.2em;
                font-weight: 600;
                @media (max-width:500px) {
                    font-size: 0.7em;
                }
            }
            .modal-btns{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 0.2em;
                .reselect-btn{
                    align-self: flex-start;
                    //margin-left: auto;
        
                    padding: 0.2em 0.5em;
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    background-color: rgb(222, 75, 75);
                    border: none;
    
                    .reselect-text{
                        color: white;
                        font-weight: 600;
                        @media (max-width:500px) {
                            font-size: 0.6em;
                        }
                    }
                    .reselect-icon{
                        margin-left: 0.2em;
                        color: white;
                        @media (max-width:500px) {
                            font-size: 0.6em;
                        }
                    }
                }
                .reselect-btn:hover{
                    background-color: rgb(212, 100, 139);
                    .reselect-text{
                        color: rgb(75, 0, 52);
                    }
                    .reselect-icon{
                        color: rgb(75, 0, 52);
                    }
                }
        
                .confirm-upload-btn{
                    align-self: flex-start;
                    margin-left: 1%;
        
                    padding: 0.2em 0.3em;
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    background-color: rgb(28, 147, 64);
                    border: none;
                    .confirm-upload-text{
                        color: white;
                        font-weight: 600;
                        @media (max-width:500px) {
                            font-size: 0.6em;
                        }
                    }
                }
                .confirm-upload-btn:hover{
                    background-color: rgb(107, 100, 212);
                    .reselect-text{
                        color: rgb(75, 0, 52);
                    }
                }
    
            }
        }

    }
}

.main{
    flex-wrap: wrap;

    text-decoration: none;

    @media (max-width:1024px) {
        padding: 2% 5%;
    }

    @media (max-width:501px) {
        padding-left: 3%;
    }

    .side-column{
        display: flex;
        flex-wrap: wrap;
        //background-color: $secondary-color;
        // display: flex;
        position: sticky;
        top: 0px;

        height: 100%;
        @media (max-width:809px) {
            width: 10%;
        }

        @media (max-width:470px) {
            width: 0;
        }

        .type-sprint-big-screen{
            @media (max-width:866px) {
                display: none;
            }
            h2{
                    width: 100%;
                    // padding: 0 5px;
            }

            ul{
                position: sticky;
                top: 0px;
                list-style: none;
                li{
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    margin-top: 0.2em;
                    padding: 0.2em 0.5em;
                    font-size: 1.5em;
                    font-weight: bold;
                    @media (max-width:1100px) {
                        padding: 0.2em 0em 0.2em 0.5em;
                    }
    
                    @media (max-width:906px) {
                        padding: 0.2em 0em 0.2em 0.2em;
                    }
                }
                li:hover{
                    a{
                        color: white;
                    }
                    background-color: #9C77CB;
                }
    
                // li:active{
                //     background-color: aquamarine;
                // }
            }
        }
        .type-sprint-small-screen{
            display: none;
            @media (max-width:866px) {
                display: block;
            }
            @media (max-width:809px) {
                position: relative;
            }

            @media (max-width:470px) {
                position: absolute;
                left: 2px;
                z-index: 100;
            }
            .type-sprint-title{
                width: 100%;
                display: flex;

                align-items: center;
                @media (max-width:470px) {
                    padding: 0.2em;
                }
                svg{
                    margin-right: 3px;
                    @media (max-width:809px) {
                        font-size: 2em;
                    }
                    @media (max-width:470px) {
                        font-size: 1em;
                    }
                }
                h2{
                    @media (max-width:809px) {
                        display: none;
                    }
                    // text-decoration: underline;
                    &:active{
                        background-color: #715693;
                        color: white;
                    }
                    // padding: 0 5px;
                }
            }
            ul{
                @media (max-width:809px) {
                    position: absolute;
                    width: max-content;
                    padding: 0 3px;
                    background: rgb(84,247,146);
                    background: linear-gradient(0deg, rgba(84,247,146,1) 19%, rgba(247,204,134,1) 84%);
                    border-radius: 0 8px 8px 8px;
                    box-shadow: 3px 3px 3px #471d69;
                    border-right: solid 1px #F7CC86;
                    border-bottom: solid 1px #F7CC86;
                }
                top: 100%;
                list-style: none;
                @media (max-width:470px) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 18em;
                }
                
                li{
                    display: flex;
                    align-items: center;
                    padding: 0.2em 0em;
                    font-size: 1em;
                    font-weight: bold;
                    border-bottom: inset 2px #B96DF7;

                    @media (max-width:809px) {
                        // border: none;
                        margin-top: 2px;
                        a{
                            color: rgb(85, 28, 132);
                        }
                    }
                    @media (max-width:470px) {
                        border: inset 2px #B96DF7;
                        border-radius: 8px;
                        margin: 0.2em 0.1em;
                        padding: 0 3px;
                        background-color: #d6d6d6;
                    }
                    &:last-child{
                        border: none;
                        @media (max-width:470px) {
                            border: inset 2px #B96DF7;
                            border-radius: 8px;
                            margin: 0.2em 0.1em;
                            padding: 0 3px;
                            
                        }
                    }

                }
    
                // li:active{
                //     background-color: aquamarine;
                // }
            }
        }
    }
    .content{
        display: flex;
        //align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        // margin: 1.5em;
        width: 80%;
        @media (max-width:809px) {
            width: 90%;
        }
        @media (max-width:470px) {
            width: 100%;
            margin: 0;
        }
        .banner-product{
            width: 95%;
            margin-bottom: 1%;
            @media (max-width:800px) {
                width: 100%;
            }
        }

        .uploading-popup{

            .open-popup-btn{
                // width: 30%;
                font-size: 1em;
                font-weight: 600;
                border-radius: 8px;
                padding: 0.2em 0.3em;
                border: none;
                background-color: #9C77CB;
                color: aliceblue;
            }

            .open-popup-btn:hover{
                font-size: larger;
                font-weight: 700;
                text-transform: uppercase;
                color: #715693;
                background-color: aquamarine;
            }            
        }
        
        //image editor
        .image-editor{
            width: 95%;
            @media (max-width:800px) {
                width: 100%;
                margin-top: 1%;
            }
            .images-editor-component{
                display: flex;
                flex-direction: row;
                @media (max-width:906px) {
                    height: 32em;
                }
                @media (max-width:620px) {

                    flex-direction: column;

                }
                @media (max-width:620px) {
                    height: max-content;
                }

                .tool-bar{ //width: 25%
                    width: 25%;
                    padding-top: 2.5em;
                    padding-right: 2%;
                    @media (max-width: 720px) {
                        width: 15%;
                    }
                    @media (max-width:620px) {

                        width: 100%;
                        padding: 1% 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;
    
                    }
                    @media (max-width:362px) {
                        justify-content: flex-start;
                        gap: 0.3em;
                    }
                    .tools-text{
                        font-size: larger;
                        font-weight: bolder;
                        width: fit-content;
                        margin-left: auto;
                        margin-bottom: 5%;
                        @media (max-width: 720px) {
                            display: none;
                        }

                    }
                    .tools{
                        display: flex;
                        flex-direction: column;
                        @media (max-width:620px) {
                            width: 50%;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                        @media (max-width:362px) {
                            width: 100%;
                            justify-content: flex-start;
                            gap: 0.3em;
                        }
                        .tool-btn{
                            padding: 2%;
                            margin-bottom: 3%;
                            display: flex;
                            flex-direction: row;
                            width: 85%;
                            @media (max-width:1260px) {
                                width: 90%;
                            }
                            @media (max-width:1190px) {
                                width: 100%;
                            }
                            @media (max-width: 720px) {
                                width: fit-content;
                            }
                            align-items: center;
                            justify-content: space-between;
                            margin-left:auto ;
                            border-radius: 8px;
                            @media (max-width:620px) {
                                padding: 1%;
                                margin: 0;
                            }
                            
                            .tool-name{
                                font-weight: 600;
                                font-size: large;
                                @media (max-width:1100px) {
                                    font-size: 1.1em;
                                }

                                @media (max-width:866px) {
                                    font-size: 1em;
                                }

                                @media (max-width: 720px) {
                                    display: none;
                                }
                            }

                            .tool-icon{
                                font-size: large;
                                @media (max-width:422px) {
                                    font-size: 1em;
                                }
                            }
                        }

                        
                    }

                    .line{
                        width: 40%;
                        border-radius: 8px;
                        border: solid 0.1em;  
                        margin-left: auto;
                        @media (max-width:620px) {
                            display: none;
                        }                    
                    }

                    .love{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        margin: 2% 0;
                        @media (max-width:620px) {
                            margin: 0;
                        }
                        .love-amount-text{
                            font-size: xx-large;
                            font-weight: 700;
                            @media (max-width:720px) {
                                font-size: 1.5em;
                            }
                            @media (max-width:422px) {
                                font-size: 1em;
                            }
                            
                        }
                        .love-icon{
                            font-size: xx-large;
                            @media (max-width:720px) {
                                font-size: 1.5em;
                            }

                            @media (max-width:422px) {
                                font-size: 1em;
                            }
                        }
                    }

                    .change-quantity-card{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        @media (max-width:800px) {
                            flex-direction: column;
                        }
                        @media (max-width:620px) {
                            width: 30%;
                            flex-direction: row;
                            align-items: center;
                        }

                        @media (max-width:422px) {
                            width: 35%;
                        }
                        @media (max-width:362px) {
                            width: 50%;

                        }
                        .amount-text{
                            width: 60%;
                            font-size: x-large;
                            font-weight: 800;
                            margin-right: 5%;
                            text-align: end;
                            // width: max-content;
                            @media (max-width: 1344px) {
                                font-size: 1.2em;
                            }
                            @media (max-width:1100px) {
                                font-size: 1.1em;
                            }
                            @media (max-width:800px) {
 
                                width: 100%;
                                font-size: 1.2em;
                                text-align: start;
                            }
                            @media (max-width:720px) {
                                font-size: 1em;
                            }
                            @media (max-width:620px) {
                                font-size: 1em;
                                font-weight: 600;
                                margin: 0;
                            }
                            @media (max-width: 377px) {
                                font-size: 0.9em;
                            }
                            @media (max-width:362px) {
                                text-align: end;
    
                            }

                        }
                        .quantity-show{
                            width: 40%;
                            margin: 0;
                            display: flex;
                            flex-direction: row;

                            @media (max-width:800px) {
 
                                width: 100%;
                            }

                            // justify-content: flex-end;
                            align-items: center;
                            @media (max-width:1100px) {
                                justify-content: space-between;
                            }
                            .quantity{
                                height: 1.5em;
                                border-radius: 8px;
                                text-align: center;
                                width: 60%;
                                font-size: larger;
                                font-weight: 600;
                                margin-right: 5%;
                                @media (max-width:720px) {
                                    height: 1.3em;
                                }
                                // @media (max-width:620px) {
                                //     font-size: 0.8em;
                                // }
                            }
                            .change-quantity{
                                display: flex;
                                flex-direction: column;
                                width: 40%;
                                .increase{
                                    height: 1em;  
                                    display: flex;
                                    justify-content: center;    
                                    align-items: center;
                                    border-radius: 5px 5px 0 0;
                                    @media (max-width:720px) {
                                        height: 0.7em;
                                    }
                                    .icon{
                                        transform: rotate(-90deg);
    
                                    }                                                  
                                }
                                .decrease{
                                    height: 1em; 
                                    justify-content: center;
                                    display: flex;
                                    align-items: center;
                                    border-radius:0 0 5px 5px ;
                                    @media (max-width:720px) {
                                        height: 0.7em;
                                    }
                                    .icon{
    
                                        transform: rotate(90deg);
                                    }                                  
                                }
                            }
                        }

                    }
                }

                .preview-box{//width 50%
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    align-items: center;
                    @media (max-width:720px) {
                        width: 60%;
                    }
                    @media (max-width:620px) {
                        width: 100%;
                    }
                    .switch-img-tool{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 0.5em;
                        .previous-img{
                            display: flex;
                            width: 15%;
                            height: 2em;
                            border-radius: 8px;
                            align-items: center;
                            justify-content: center;
                            @media (max-width:620px) {
                                width: 10%;
                            }
                            svg{
                                font-size: 1.5em;
                                transform: rotate(180deg);
                                @media (max-width:620px) {
                                    font-size: 1em;
                                }
                            }
                        }
                        .img-index-text{
                            font-size: larger;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                            @media (max-width:620px) {
                                font-size: 1em;
                                font-weight: 500;
                            }
                        }
                        .next-img{
                            display: flex;
                            width: 15%;
                            height: 2em;
                            border-radius: 8px;
                            align-items: center;
                            justify-content: center;
                            @media (max-width:620px) {
                                width: 10%;
                            }
                            svg{
                                font-size: 1.5em;
                                @media (max-width:620px) {
                                    font-size: 1em;
                                }
                            }
                        }
                    }

                    .preview-zone{
                        background: rgb(255,84,72);
                        background: linear-gradient(160deg, rgba(255,84,72,1) 0%, rgba(255,224,138,1) 40%, rgba(122,221,255,1) 100%);
                        border: 3px solid #000000;
                        box-shadow: inset 10px 10px 5px rgba(0, 0, 0, 0.34);
                        border-radius: 8px;
                        width: 100%;
                        height: 30em;
                        @media (max-width:1190px) {
                            height: 25em;
                        }
                        @media (max-width:620px) {
                            height: 15em;
                        }
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .current-img{
                            width: 40%;
                            img{
                                box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 10px;
                                width: 100%;
                            }
                        }
                    }

                    .confirm-changing-btn{
                        font-weight: 900;
                        font-size: larger;
                        width: 30%;
                        padding: 1%;
                        margin-top: 2%;
                        border-radius: 10px;
                    }
                }

                .product-option{//width 25%
                    width: 25%;
                    padding-left: 2%;
                    padding-top: 2.5em;
                    @media (max-width:620px) {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        padding: 0;
                        justify-content: space-between;
                    }
                    .product-marterial{
                        margin-bottom: 5%;
                        display: flex;
                        flex-direction: column;
                        width: max-content;
                        .material-title{
                            font-size: larger;
                            font-weight: bold;
                            margin-bottom: 2%;
                            @media (max-width:800px) {
                                font-size: 1em;
                            }
                        }
                        .material-option-box{
                            margin-bottom: 3%;
                            @media (max-width:800px) {
                                label{
                                    font-size: 0.8em;
                                }
                            }
                            label:hover{
                                font-weight: 600;
                                // margin-left: 2%;
                                padding: 2% 4%;
                                border-radius: 8px;
                                background-color: #c566c0;
                                box-shadow: 3px 3px 2px #715693;
                                color: white;
                            }

                            label:active{
                                font-weight: 500;
                                // margin-left: 2%;
                                padding: 1% 3%;
                                border-radius: 10px;
                                background-color: #715693;
                                color: white;
                            }

                            input{
                                margin-right: 1%;
                            }


                        }
                        

                    }

                    .product-effect{
                        margin-bottom: 5%;
                        display: flex;
                        flex-direction: column;
                        .non-effect{
                            width: 80%;
                            font-weight: 600;
                            @media (max-width:800px) {
 
                                font-size: 0.8em;
                                font-weight: 500;

                            }
                        }
                        .effect-title{
                            font-size: larger;
                            font-weight: bold;
                            margin-bottom: 2%;
                            @media (max-width:800px) {
                                font-size: 1em;
                            }
                        }

                        .effect-option-box{
                            margin-bottom: 3%;
                            @media (max-width:800px) {
                                label{
                                    font-size: 0.8em;
                                }
                            }
                            label:hover{
                                font-weight: 600;
                                // margin-left: 2%;
                                padding: 2% 4%;
                                border-radius: 8px;
                                background-color: #c566c0;
                                box-shadow: 3px 3px 2px #715693;
                            }

                            label:active{
                                font-weight: 500;
                                // margin-left: 2%;
                                padding: 1% 3%;
                                border-radius: 10px;
                                background-color: #715693;
                                color: white;
                            }

                            input{
                                margin-right: 1%;
                            }
                        }
                    }

                    .product-size{
                        
                        display: flex;
                        flex-direction: column;
                        .product-title{
                            font-size: larger;
                            font-weight: bold;
                            margin-bottom: 2%;
                            @media (max-width:800px) {
                                font-size: 1em;
                            }
                        }

                        .size-option-box{
                            margin-bottom: 3%;
                            @media (max-width:800px) {
                                label{
                                    font-size: 0.8em;
                                }
                            }
                            label:hover{
                                font-weight: 600;
                                // margin-left: 2%;
                                padding: 2% 4%;
                                border-radius: 8px;
                                background-color: #c566c0;
                                box-shadow: 3px 3px 2px #715693;
                            }

                            label:active{
                                font-weight: 500;
                                // margin-left: 2%;
                                padding: 1% 3%;
                                border-radius: 10px;
                                background-color: #715693;
                                color: white;
                            }

                            input{
                                margin-right: 1%;
                            }
                        }
                    }
                }

            }

            .show-image-component{
                .show-img-tools{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-bottom: 1%;
                    .show-img-text{
                        font-weight: 600;
                        font-size: larger;
                        @media (max-width:565px) {

                            font-size:  1em;

                        }
                    }
                    .show-img-tool{
                        width: 50%;
                        display: flex;
                        justify-content: flex-end;
                        //justify-content: space-between;
                        gap:0.5em;
                        .delete{
                            display: flex;
                            width: fit-content;
                            justify-content: space-between;
                            flex-direction: row;
                            border-radius: 9px;
                            align-items: center;
                            padding: 0.3em;
                            font-weight: 600;
                            
                            @media (max-width:1260px) {
                  
                                p{

                                    display: none;
                                }
                            }
                            @media (max-width:565px) {
                                svg{
                                    font-size: 0.7em;
                                }
                            }
                            
                        }

                        .multiple-choice{
                            padding: 0.3em;
                            border-radius: 8px;
                            font-weight: 600;
                            @media (max-width:565px) {
                                font-size: 0.7em;
                            }
                        }
                    }
                }
                .show-img-box{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    width: 100%;
                    gap: 1.25%;
                    overflow-y: scroll;
                    .image-box{
                        position: relative;
                        width: 19%;
                        height: 15em;
                        border-radius: 8px;
                        background-color: #c4bbd1;
                        border: solid 3px #715693;
                        box-shadow: 1px 1px 1px #715693;
                        @media (max-width:1330px) {
                            height: 13em;
                        }
                        @media (max-width:1330px) {
                            height: 11em;
                        }
                        @media (max-width:650px) {
                            height: 8em;
                        }

                        @media (max-width:540px) {
                            height: 7em;
                        }

                        @media (max-width:400px) {
                            height: 6em;
                        }
                        .frame{
                            width: 100%;
                            height: 100%;
                            overflow-y:auto;
                            border-radius: 8px;
                            
                            .check-box{
                                position: absolute;
                                top:0;
                                right:0;
                                border-radius: 0px 0px 0px 8px;
                                background: linear-gradient(180deg, rgba(239,192,251,1) 0%, rgba(91,9,121,1) 85%);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 25%;
                                height: 20%;
                                box-shadow: -2px 2px 2px gray;
                                #uncheck{
                                    font-size: 2em;
                                    color: rgb(255, 255, 255);
                                    @media (max-width:1330px) {
                                        font-size: 1.2em;
                                    }
                                    @media (max-width:650px) {
                                        font-size: 1em;
                                    }
                                }
                                #checked{
                                    font-size: 2em;
                                    color: #86f4b7;
                                    @media (max-width:1330px) {
                                        font-size: 1.2em;
                                    }
                                    @media (max-width:650px) {
                                        font-size: 1em;
                                    }
                                }

                            }
                            .display-uploaded-img{
                                width: 100%;
                            }
                        }
    
                        .frame::-webkit-scrollbar{
                            background: transparent; /* Chrome/Safari/Webkit */
                            width: 0px;
                        }
                        .infor{
                        
                            border-radius: 0px 0px 8px 8px;
                            bottom: 0%;
                            position: absolute; 
                            width: 70%;              
                            font-weight: 600;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            align-content: flex-start;
                            .infor-stt{
                                padding-left: 10%;
                                width: 70%;
                                height: 35%;
                                background: #DC9494;
                                border-radius: 0px 5px 0px 0px;
                                @media (max-width:1330px) {
                                    font-size: 0.7em;
                                }
                                @media (max-width:650px) {
                                    font-size: 0.5em;
                                }
                                @media (max-width:400px) {
                                    font-size: 0.2em;
                                }
                            }   
                            .infor-quantity{
                                padding-left: 10%;
                                width: 100%;
                                height: 35%;
                                background: #94BEDC;
                                border-radius: 0px 5px 0px 8px;
                                @media (max-width:1330px) {
                                    font-size: 0.7em;
                                }
                                @media (max-width:650px) {
                                    font-size: 0.5em;
                                }
                                @media (max-width:400px) {
                                    font-size: 0.2em;
                                }
                            }
                        }

                        .editing-signal{
                            position: absolute;
                            width: 20%;
                            height: 15%;
                            border-radius: 8px 0px 0px 0px;
                            bottom: 0%;
                            right: 0%;
                            background-color: #17b41f;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg{
                                scale: 1.3;
                                color: white;
                                @media (max-width:1330px) {
                                    scale: 1;
                                }

                                @media (max-width:650px) {
                                    scale: 0.7;
                                }
                            }
                        }
                    }
                    
                }

                .show-img-bottom-bar{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    @media (max-width:650px) {
                        flex-direction: column;

                    }
                    .user-note{
                        width: 78%;
                        border-radius: 8px;
                        padding: 1%;
                        
                        @media (max-width:1297px) {
                            width: 68%;
                        }
                        @media (max-width:650px) {
                            width: 100%;
                            margin-bottom: 1%;
                        }
                    }
                    .let-order{
                        display: flex;
                        flex-direction: column;
                        font-weight: bolder;
                        width:20%;
                        gap: 0.3em;
                        @media (max-width:1297px) {
                            width: 30%;
                        }

                        @media (max-width:650px) {
                            width: max-content;
                            margin-left: auto;
                        }

                        .add-to-cart{
                            border-radius: 8px;
                            padding: 0.5em;
                            color: white;
                            background-color: #9C77CB;
                            text-transform: uppercase;
                            text-align: center;
                      
                        }
                        .add-to-order{
                            border-radius: 8px;
                            padding: 0.5em;
                            color: white;
                            background-color: #9C77CB;
                            text-transform: uppercase;
                            text-align: center;
                        }
                    }
                }

            }

        }
    }
}

