@import './config/variables.scss';

// // MOBILE VERSION
// .page {
//   height: 100vh;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 0.75em;

//   // TABLET OPTIMIZATION
//   @media only screen and (min-device-width: 37em) {
//     font-size: 1em;
//   }

//   // DESKTOP OPTIMIZATION
//   @media only screen and (min-device-width: 64em) {
//     font-size: 1.25em;
//   }
// }

.main-register {
    // background-color: $secondary-color;
    width: 70%;
    // height: 50%;
    margin: 0 15%;
    padding: 5% 0;
    position: relative;
    // border-radius: 1em;
    // box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    // justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
  @media (max-width:1025px) {
    width: 90%;
    margin: 0 5%;

  }
  h1{
    width: 100%;
    font-size: calc(22px + 0.390625vw);
    font-weight: bolder;
    margin-bottom: 1em;
    //font-style: italic;
    text-align: center;
    //font-style: italic;
  }
  .register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  label{
    width: 100%;
    // width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    .input-error{
      color: red;

    }
  }
 

  .agree-policies{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    input{
      width: fit-content;
      margin-right: 1%;
    }
    label{
      a{
        font-weight: bold;
        font-size: 1.1em;
        
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .password-input{
    .password-notice{
      padding: 1%;
      font-weight: 600;
      margin-bottom: 1%;
      background-color: #ECE7B8;
    }
    .alert{
      color: red;
    }
  }
  input {
    border: none;
    margin: 0.5em 0;
    padding: 1em;
    background-color: rgb(229, 226, 226);
    width: 100%;
    border-radius: 1em;
    text-align: center;
    font-size: 1em;
    font-weight: 600;

    &:focus {
      outline-color: rgb(32, 177, 255);
    }
    
  }
  
  .login-btn {
    width: 100%;
    height: 3em;
    margin: 1em 0 2em 0;
    background-color: $primary-color2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    border-radius: 0.25em;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
  
    &:hover {
      transform: translateY(-5px);
    }
  }

}

