/* Colors */

$background-color: #17a2b8;
$text-color: #17a2b8;
$hover-color: #17a2b8;

$primary-color: #b0a14e;        // blue
$secondary-color: #6c757d;      // gray
$light-color: #f8f9fa;          // light gray
$dark-color: #1f2f3f;           // dark gray

$success-color: #28a745;        // green
$danger-color: #dc3545;         // red
$info-color: #17a2b8;           // teal
$warning-color: #ffc107;        // yellow


/* Fonts */

$font-family: 'Open Sans', sans-serif;
$font-size-base: 1rem;

/* Spacing */

$spacing-unit: 1rem;
